* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #6db9ef;
  height: calc(100vh - 0px);
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.task-application {
  background-color: #fff;
  width: 500px;
  margin-inline: auto;
  padding: 1rem;
  border-radius: 5px;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}
